@model Wallet.Wise.BLL.DTOs.RecordsHistoryDto

@{
    ViewData["title"] = "Transaction";
}

<div class="card">
    <div class="card-header">
        <h3>@Model.Category.Name</h3>
    </div>
    <div class="card-body">
        <p><strong>Category Type:</strong> @Model.Category.CategoryType</p>
        <p><strong>Amount:</strong> @Model.Category.Amount</p>
        <p><strong>Currency:</strong> @Model.Category.CurrencyCode</p>
    </div>
    <div class="card-footer">
        <a asp-action="Index" asp-controller="Categories" class="btn btn-secondary">Back to List</a>
    </div>
</div>

@Html.Partial("_RecorsList",Model.RecordHistory);